fastapi
uvicorn[standard]
pydantic[email]
asyncpg
python-dotenv

pandas
matplotlib
seaborn
openpyxl

psycopg[binary]

sqlmodel==0.0.22
passlib==1.7.4
python-jose[cryptography]==3.3.0
psycopg2-binary>=2.9.0
sqlalchemy
python-multipart
