body, html {
  margin: 0;
  height: 100%;
}

#topbar {
  height: 50px;
  background-color: #1e3a8a;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

#map {
  height: calc(100% - 50px);
  width: 100%;
}

#region-select {
  max-width: 250px;
  max-height: 200px;
  overflow-y: auto;
  margin-left: 20px;
  padding: 4px;
  border-radius: 6px;
}
.route-line {
  z-index: 1000 !important;
}
